<div class="center header clearfix">
    <div class="left" ng-controller="CartController">
        <div class="cart-icon">
            <a href="#"><img src="/images/index-cart-icon.png"></a>
        </div>
        <div class="cart-text">
            <span ng-click="thanhtoan()">Giỏ hàng({{getTotalProduct()}}) | Thanh toán</span>
        </div>
        <div class="cart-right"></div>
    </div>

    <div class="search">
        <div class="search-icon"></div>
        <div class="search-text">
            <input type="text">
        </div>
        <div class="search-button"></div>
    </div>
</div>