<div id="new-product" ng-controller="AdvertisesController">
    <form ng-submit="create()">
        <div class="boder-bottom clearfix">
            <div class="left"><h2>Add Advertise</h2></div>
            <div class="right">
                <span ng-show="error" class="error">
                    {{error}}
                </span>
                <input type="submit" value="Save">
            </div>
        </div>

        <div>
            <div class="tab">
            <p>
                <label for="name">Name</label>
                <input class="input" id="name" ng-model="advertise.name">
            </p>
            <p>
                <label for="width">Width</label>
                <input class="input" id="width" ng-model="advertise.width">
            </p>
            <p>
                <label for="height">Height</label>
                <input class="input" id="height" ng-model="advertise.height">
            </p>
            <p>
                <label for="website">Website</label>
                <input class="input" id="website" ng-model="advertise.website">
            </p>
            <p>
                <label for="position">Position</label>
                <input class="input" id="position" ng-model="advertise.position">
            </p>
            <p>
                <label for="type">Type</label>
                <select ng-model="advertise.type" class="input" id="type">
                    <option value="1">1</option>
                    <option value="2">2</option>
                </select>
            </p>
            <p>
                <label></label>
                <img style="width: 100px; height: 100px" ngf-src="image[0]" ngf-default-src="/images/no_image.png">
            </p>
            <p>
                <label for="image">Image</label>
                <input type="file" id="image" ngf-select ng-model="image">
            </p>
            </div>
        </div>
    </form>
</div>
