<div class="center" ng-controller="PagesController" ng-init="find()">
    <div class="boder-bottom page-header clearfix">
        <div class="pull-left">Pages</div>
        <div class="pull-right">
            <a class="btn-primary" href="/admin/#!/pages/create">+</a>
        </div>
    </div>

    <!--<div class="form-group">
        <input type="text" ng-model="search" typeahead="page as product.name for product in products | filter:$viewValue | limitTo:8" class="form-control" typeahead-on-select="searchProduct($item)" placeholder="Search Product...">
    </div>-->

    <div class="page-contain">
        <table border="1" class="table">
            <tr>
                <td class="first-row">
                    Link
                </td>
                <td class="first-row">
                    Created At
                </td>
                <td class="first-row">
                    Action
                </td>
            </tr>
            <tr ng-repeat="page in pages | limitTo: offset - pages.length | limitTo: pageSize">
                <td>
                    {{page.link}}
                </td>
                <td>
                    {{page.created | date}}
                </td>
                <td>
                    <a href="/admin/#!/pages/{{page._id}}/edit">Edit</a>
                    <a data-ng-click="remove(page)">Delete</a>
                </td>
            </tr>
        </table>
    </div>

    <div class="pagination-block">
        <pagination ng-show="pages.length > pageSize" items-per-page="pageSize" total-items="pages.length" ng-model="currentPage" ng-change="pageChanged()"></pagination>
    </div>
</div>
