<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
	<title>{{title}}</title>

	<!-- General META -->
	<meta charset="utf-8">
	<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<!-- Semantic META -->
	<meta name="keywords" content="{{keywords}}">
	<meta name="description" content="{{description}}">

	<!-- Fav Icon -->
	<link href="/modules/core/img/brand/favicon.ico" rel="shortcut icon" type="image/x-icon">

	<link rel="stylesheet" href="/css/style.css">

	<link rel="stylesheet" href="/lib/jquery-ui/themes/smoothness/jquery-ui.css"/>

</head>

<body>
	<header data-ng-include="'/modules/core/views/header.client.view.html'" class="navbar navbar-fixed-top navbar-inverse"></header>
	<section ng-include="'/modules/core/views/menu.client.view.html'"></section>
	<div class="center body clearfix">
		<section class="col-left">
			{% block content %}{% endblock %}
		</section>
		<section class="col-right" ng-include="'/modules/core/views/col-right.client.view.html'"></section>
	</div>
	<footer ng-include="'/modules/core/views/footer.client.view.html'"></footer>

	<!--Embedding The User Object-->
	<script type="text/javascript">
		var user = {{ user | json | safe }};
	</script>

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

	<script type="text/javascript" src="/lib/jquery-ui/jquery-ui.js"></script>

	<script type="text/javascript" src="/lib/angular/angular.js"></script>
	<script type="text/javascript" src="/lib/angular-route/angular-route.js"></script>
	<script type="text/javascript" src="/lib/angular-resource/angular-resource.js"></script>
	<script type="text/javascript" src="/lib/angular-sanitize/angular-sanitize.js"></script>
	<script type="text/javascript" src="/lib/angular-cookies/angular-cookies.js"></script>
	<script type="text/javascript" src="/lib/angular-ui-date/src/date.js"></script>

	<script type="text/javascript" src="/modules/core/core.client.module.js"></script>
	<script type="text/javascript" src="/modules/core/config/core.client.route.js"></script>
	<script type="text/javascript" src="/modules/core/controller/catmenu.client.controller.js"></script>
	<script type="text/javascript" src="/modules/core/controller/advertise.client.controller.js"></script>
	<script type="text/javascript" src="/modules/core/controller/page.client.controller.js"></script>
	<script type="text/javascript" src="/modules/core/controller/cart.client.controller.js"></script>

	<script type="text/javascript" src="/modules/product/product.client.module.js"></script>
	<script type="text/javascript" src="/modules/product/config/products.client.route.js"></script>
	<script type="text/javascript" src="/modules/product/controllers/product.client.controller.js"></script>
	<script type="text/javascript" src="/modules/product/directives/scroll.client.directive.js"></script>

	<script type="text/javascript" src="/modules/news/news.client.module.js"></script>

	<script type="text/javascript" src="/modules/application.js"></script>

</body>

</html>