<div when-scroll-ends="loadMoreRecords()">
	<div class="col-product" id="col1">
		<product-description ng-repeat="product in products1">
		</product-description>
	</div>
	<div class="col-product" id="col2">
		<product-description ng-repeat="product in products2">
		</product-description>
	</div>
	<div class="col-product" id="col3">
		<product-description ng-repeat="product in products3">
		</product-description>
	</div>
	<div class="col-product" id="col4">
		<product-description ng-repeat="product in products4">
		</product-description>
	</div>
</div>